html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 225px 3fr;
      grid-template-columns: 225px 3fr;
  -ms-grid-rows: 200px 1fr;
      grid-template-rows: 200px 1fr;
      grid-template-areas: "sidebar header" "sidebar content" "sidebar content" "sidebar content";
}

.button {
  padding: 10px 16px;
  border-radius: 25px;
  color: #fff;
  background-color: #15803d;
  border: none;
}

.header {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.header .header-top-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.header .header-top-row .search-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .header-top-row .search-container .search-field {
  border: none;
  border-radius: 25px;
  padding: 1rem;
  background-color: #e5e7eb;
  font-size: 1rem;
}

.header .header-top-row .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header .header-top-row .profile .notifications {
  cursor: pointer;
  width: 25px;
}

.header .header-top-row .profile .user-avatar {
  width: 50px;
}

.header .header-top-row .profile .username {
  font-weight: 700;
}

.header .header-bottom-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.header .header-bottom-row .greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header .header-bottom-row .greetings .user-avatar {
  width: 75px;
}

.header .header-bottom-row .greetings .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-bottom-row .greetings .greeting .username {
  font-size: 1.5rem;
}

.header .header-bottom-row .header-button-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  background-color: #15803d;
  color: #fff;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
}

.sidebar .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 200px;
      grid-template-rows: 300px 200px;
}

.sidebar .nav .nav-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  -ms-grid-rows: (30px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 30px);
}

.sidebar .nav .nav-list li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  gap: 10px;
  cursor: pointer;
}

.sidebar .nav .nav-list li .icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
}

.sidebar .logo-container div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  gap: 10px;
}

.sidebar .logo-container .logo {
  width: 50px;
  height: 50px;
}

.sidebar .logo-container h2 {
  font-size: 1.25rem;
}

.content {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: #d8f3dc;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.content .projects h2 {
  font-size: 1.375rem;
  margin-bottom: 10px;
}

.content .projects .project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  height: calc(100% - 40px);
}

.content .projects .project {
  border-left: 10px solid #05668d;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.content .projects .project .project-actions {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-column-align: end;
      justify-self: end;
}

.content .projects .project .project-actions .project-action-btn {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.content .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  row-gap: 20px;
}

.content .news .announcements h2 {
  font-size: 1.375rem;
  margin-bottom: 10px;
}

.content .news .announcements .announcement-container {
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #e5e7eb;
}

.content .news .announcements .announcement-container .announcement {
  margin-bottom: 10px;
}

.content .trending h2 {
  font-size: 1.375rem;
  margin-bottom: 10px;
}

.content .trending .trending-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.content .trending .trending-list li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.content .trending .trending-list li .user-image {
  width: 50px;
}

.card {
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */